### 001 print 기초

In [2]:
a = "Hello world"
print(a)

Hello world

### 002 Print 기초

In [4]:
a = "mary's cosmetics"
a

"mary's cosmetics"

### 003 print 기초

In [6]:
a = '신씨가 소리질렀다. "도둑이야".'
a

'신씨가 소리질렀다. "도둑이야".'

### 004 print 기초

In [25]:
a = "C:\Windows"
print(a)

C:\Windows

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\USER\AppData\Local\Temp\ipykernel_14208\3675048665.py:1: SyntaxWarning: invalid escape sequence '\W'
  a = "C:\Windows"

### 005 print 탭과 줄바꿈

In [28]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

### 006 print 여러 데이터 출력

In [31]:
print ("오늘은", "일요일")

오늘은 일요일

### 007 print 기초

In [45]:
print("naver","kakao","sk","samsung", sep=";")

naver;kakao;sk;samsung

### 008 print 기초

In [48]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

### 009 print 줄바꿈

In [61]:
print("first", end=" ");print("second")

first second

### 010 연산 결과 출력

In [65]:
5/3

1.6666666666666667

### 011 변수 사용하기

In [78]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

============================

### 012 변수 사용하기

In [19]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [21]:
시가총액, 현재가, PER

(298000000000000, 50000, 15.79)

### 013 문자열 출력

In [36]:
s = "hello"
t = "python"
s, t, type(s), type(t)

('hello', 'python', str, str)

In [38]:
a = "! "
a

'! '

In [40]:
s + a + t

'hello! python'

In [42]:
print(s+"! ",t)

hello!  python

### 014 파이썬을 이용한 값 계산

In [45]:
2 + 2 * 3

8

### 015 type 함수

In [48]:
a = 128
print (type(a))

<class 'int'>

In [50]:
a = "132"
a, type(a)

('132', str)

### 016 문자열을 정수로 변환

In [57]:
num_str = "720"
num_str = 720
num_str, type(num_str)

(720, int)

### 017 정수를 문자열 100으로 변환

In [62]:
num = 100
num, type(num)

(100, int)

In [64]:
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

### 019 문자열을 정수로 변환

In [67]:
year = "2020"
year_int = int(year)
year_int, type(year_int)

(2020, int)

In [77]:
int(year_int)+4, int(year_int)+3, int(year_int)+2

(2024, 2023, 2022)

### 020 파이썬 계산

In [80]:
Airconditioner = 48584
month = 36
Airconditioner * month

1749024

### 021 문자열 인덱싱

In [95]:
letters = 'python'
letters[0], letters[2]

('p', 't')

In [107]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

### 023 문자열 인덱싱

In [114]:
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'

### 024 문자열 슬라이싱

In [117]:
string = "PYTHON"
string[::-1]

'NOHTYP'

### 025 문자열 치환

In [134]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
phone_number1

'010 1111 2222'

### 026 문자열 다루기

In [141]:
phone_number1 = phone_number.replace("-", "")
phone_number1

'01011112222'

### 027 문자열 다루기

In [166]:
url = "http://sharebook.kr"
url[-2:]

'kr'

In [174]:
a = url.split('.')
a

['http://sharebook', 'kr']

In [176]:
a[1]

'kr'

### 028 문자열은 immutable

In [191]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

### 029 replace 메서드

In [202]:
string = 'abcdfe2a354a32a'
a = string.replace('a', 'A')
a

'Abcdfe2A354A32A'

In [204]:
string = 'abcd'
string.replace('b', 'B')
string

'abcd'

### 031 문자열 합치기

In [211]:
a = "3"
b = "4"
a + b

'34'

In [213]:
print("H1" * 3)

H1H1H1

### 033 문자열 곱하기

In [216]:
"-"  * 80

'--------------------------------------------------------------------------------'

### 034 문자열 곱하기

In [233]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
t3 * 3

'python java python java python java '

### 035 문자열 출력

In [238]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이 : %d" % (name1, age1))
print("이름: %s 나이 : %d" % (name2, age2))

이름: 김민수 나이 : 10
이름: 이철희 나이 : 13

### 036 문자열 출력

In [265]:
"이름: {} 나이: {}".format(name1, age1), "이름: {} 나이: {}".format(name2, age2)

('이름: 김민수 나이: 10', '이름: 이철희 나이: 13')

### 037 문자열 출력

In [269]:
print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10

### 038 컴마 제거하기

In [273]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

### 039 문자열 슬라이싱

In [278]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

### 040 strip 메서드

In [283]:
data = "    삼성전자   "
data.strip()

'삼성전자'

### 041 upper 메서드

In [2]:
ticker = 'btc_krw'
ticker.upper()

'BTC_KRW'

### 042 lower 메서드

In [8]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

### 043 capitalize 메서드

In [16]:
a ="hello"
a.capitalize()

'Hello'

### 044 endswith 메서드

In [42]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

### 045 endswith 메서드

In [40]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

### 046 startswith 메서드

In [52]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

### 047 split 메서드

In [45]:
a = "hello world"
a.split(" ")

['hello', 'world']

### 048 split 메서드

In [54]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

### 049 split 메서드

In [57]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

### 050 rstrip 메서드

In [60]:
data = "039490     "
data.rstrip()

'039490'

#### 101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [8]:
#BOOL

#### 102 아래 코드의 출력 결과를 예상하라

In [11]:
print(3 == 5)

False

#### 103 아래 코드의 출력 결과를 예상하라

In [21]:
print(3 < 5)

True

In [18]:
x = 6
print(1 < x < 5)

False

#### 104

In [ ]:
x = 4
print(1 < x < 5)

#### 105

In [24]:
print ((3 == 3) and (4 != 3)) #TRUE WHY???

True

#### 106

In [31]:
print(3 => 4) # 연산자가 없다!@!!ㅋㅋㅋㅋㅋㅋ

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2637246330.py, line 1)

#### 107

In [34]:
if 4 < 3:
    print("Hello World")

#### 108

In [39]:
# 결과??? Hi, there???
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

#### 109

In [49]:
# why??? 
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

#### 110

In [45]:
# true안의 false
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

#### 111

In [57]:
a = input("입력:")
a *2

입력: 안녕하세요

'안녕하세요안녕하세요'

#### 112

In [61]:
a = int(input("insert number:"))
print(a +10)

insert number: 50

60

### 113

In [85]:
user = int(input("insert number:"))
if user %2 == 0:
    print(f' {user} is even number')
else : 
    print(f' {user} is odd number')
print(user)

insert number: 5

 5 is odd number
5

### 114

In [117]:
user = int(input())
print(user + 10)

 50

60

In [136]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  210

230

### 115

In [150]:
user = input("input: ")
num = int(user) - 20
if num < 0:
    print(0)
if num > 255:
    print(255)
else:
    print(num)

input:  15

0
-5

### 116

In [156]:
time = input("Time: ")
if time[-2: ] == "00":
    print("on time.")
else:
    print("not on time.")

Time:  10:00

on time.

### 117

In [180]:
char = input("What's your favorite fruit?: ")
fruit = ["사과", "포도", "홍시"]
if char in fruit:
    print("Right!")
else:
    print("Hmmmm...")

What's your favorite fruit?:  홍시

Right!

### 119

In [190]:
fruit = {"spring" : "strawberry", "summer" : "tomato", "autumn" : "apple"}
answer = input("my favorite season is..: ")
if answer in fruit:
    print("Wow! so do I!")
else:
    print("Oh! you do!")

my favorite season is..:  summer

Wow! so do I!

### 120

In [195]:
fruit = {"spring" : "strawberry", "summer" : "tomato", "autumn" : "apple"}
answer = input("my favorite fruit is..: ")
if answer in fruit:
    print("Wow! so do I!")
else:
    print("Oh! you do!")

my favorite fruit is..:  pear

Oh! you do!

### 121

In [206]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 S

s

### 122

In [212]:
score = int(input("score: "))
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  99

grade is A

### 123

In [11]:
change = {'dollar' : 1167,
          'yen' : 1.096,
          'euro' : 1268,
          'cyn' : 171}
user = input('change is: ')
num, currency = user.split()
print(float(num) * change[currency], 'won')

change is:  150 dollar

175050.0 won

### 124

In [17]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [23]:
a = 'A'
print('출력: ', a)
b = 'B'
print('출력: ', b)
c = 'C'
print('출력: ', c)

출력:  A
출력:  B
출력:  C

In [29]:
for a in [ 10, 20, 30 ]:
    print('print: ', a)

print:  10
print:  20
print:  30

In [39]:
for q in [10, 20, 30]:
    print(q)
    print("-----------")

10
-----------
20
-----------
30
-----------

In [43]:
print('++++')
for a in [10, 20, 30]:
    print(a)

++++
10
20
30

In [45]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [49]:
list = [ 100, 200, 300 ]
for a in list:
    print(a +10)

110
210
310

In [51]:
list = ["김밥", "라면", "튀김"]
for a in list:
    print('menu del dia: ',a)

menu del dia:  김밥
menu del dia:  라면
menu del dia:  튀김

In [59]:
list = ["SK하이닉스", "삼성전자", "LG전자"]
for a in list:
    print(len(a))

6
4
4

In [61]:
list = ['dog', 'cat', 'parrot']
for a in list:
    print(a, len(a))

dog 3
cat 3
parrot 6

In [63]:
list = ['dog', 'cat', 'parrot']
for a in list:
    print(a[0])

d
c
p

In [67]:
list = [1,2,3]
for a in list:
    print('3 x',a)

3 x 1
3 x 2
3 x 3

In [69]:
list = [1,2,3]
for a in list:
    print('3 x {} = {}'.format(a, 3*a))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [75]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [85]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::2]:
  print(변수)

가
다

In [89]:
list = ["가", "나", "다", "라"]
for a in list[::-1]:
    print(a)

라
다
나
가

In [97]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
  if 변수 < 0:
    print(변수)

-20
-3

In [107]:
list = [3, 100, 23, 44]
for a in list:
    if a % 3 == 0:
        print(a)

3

In [115]:
list = [13, 21, 12, 14, 30, 18]
for a in list:
    if a <20 and a %3 ==0:
        print(a)

12
18

In [117]:
list = ["I", "study", "python", "language", "!"]
for a in list:
    if len(a) >= 3:
        print(a)

study
python
language

In [141]:
list = ["A", "b", "c", "D"]
for a in list:
    if a.isupper():
        print(a)

A
D

In [143]:
list = ["A", "b", "c", "D"]
for a in list:
    if a.isupper() == False:
        print(a)

b
c

In [149]:
list = ['dog', 'cat', 'parrot']
for a in list:
  print(a[0].upper() + a[1:])

Dog
Cat
Parrot

In [163]:
list = ['hello.py', 'ex01.py', 'intro.hwp']
for a in list:
    split = a.split(".")
    print(split[0])

hello
ex01
intro

In [171]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in list:
    split = a.split(".")
    if split[1] == 'h':
        print(a)

intra.h
define.h

In [189]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h

In [197]:
for a in range(100):
    print(a)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [199]:
for x in range(2002, 2051, 4) :
    print (x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [211]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [213]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [217]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [219]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [223]:
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [227]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [229]:
stock = [ ["open", 100, 200, 300], ["close", 80, 210, 330] ]

In [231]:
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330] }

In [233]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

In [235]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [237]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [239]:
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [245]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [247]:
def print_coin():
    print("비트코인")

In [249]:
print_coin()

비트코인

In [253]:
for i in range(5):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인

### 211

In [258]:
def print_with_smile (string) :
    print ('Hello' + ":D")

In [260]:
print_with_smile("안녕하세요")

Hello:D

In [262]:
def print_upper_price(a):
    print(a *1.3)

In [264]:
print_upper_price(7)

9.1

In [270]:
def print_sum (a, b) :
    print (a + b)

In [272]:
print_sum(3, 4)

7

In [274]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [276]:
print_arithmetic_operation(54, 88)

54 + 88 = 142
54 - 88 = -34
54 * 88 = 4752
54 / 88 = 0.6136363636363636

In [278]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)
print_max(5,8,45)

45

In [280]:
def print_reverse(string):
    print(string[::-1])

In [282]:
print_reverse("python")

nohtyp

In [290]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))
print_score ([1, 2, 3])

2.0